/* src/index.css of src/App.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --clr-primary: #29221d;
  --clr-primar-light: #473b33;
  --clr-secondary: #1e1611;
  --clr-white: #fff;
  --clr-black: #000;
  --clr-pumpkin: #fe6c00;
  --clr-silver: #a8a5a6;
  --clr-silver-v1: #bdbabb;
  --clr-scarlet: #fe1e00;
  --clr-scarlet-v1: rgb(254, 30, 0, 0.79);
  --clr-green: #00fe93;
  --clr-yellow: #fec80a;
  --clr-jet: #302924;
  --clr-peach: #ffc397;
  --font-family-bai: "Bai Jamjuree", sans-serif;
  --transition-default: all 300ms ease-in-out;
  --sidebar-dark: #18283b;
  --content-background: #011a36;
  --content-cards: #263d5c;
  --content-cards-header: #102842;
  --content-cards-content: #09213c;
  --bg-color:  #1b1b1b;
  --primary-color: #FFD700;
  --primary-color-tdf: #FFD700;
  --primary-color-vuelta: #FF0000;
  --primary-color-giro: #FF66CC;
  --color-gold: #ae9a64;
  --color-silver: #acafb2;
  --color-bronze: #bf873c;
  --secondary-color: #272727;  
  --text-color: #d6dde0;



}

body {
  font-family: var(--font-family-bai);
}

/*.topbar {
  background-color: rgb(236, 236, 236);
  height: 40px;
  position: relative;
  flex: 0 0 auto;
  /*font-size: 13px;*/
  /*border-top: 4px solid rgb(236, 236, 236);
}*/
/*.topbar-content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  align-content: center;
  align-items: center;
}*/
.topbar-left {
  display: flex;
  flex: 0 0 auto;
  width:35%;
  height:100%
}
.topbar-right {
  display: flex;
  flex: 0 0 auto;
  width:35%;
  height:100%;
}

.topbar-logo {
  display: flex;
  justify-content: center;
  width: 30%;

}

.topbar-button {
  display: flex;
  padding: 10px 10px;
  /*margin: auto 10px auto 10px;*/
}

.topbar-button.active {
  background-color: #fff;
  font-weight: bold;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.tab-bar {
  /*background-color: rgb(236, 236, 236);*/
  border-bottom: 4px solid rgb(236, 236, 236);
  width: 100%;
  padding: 10px;
}
.tab {
  padding: 10px;
  /*border-bottom: 4px rgb(236, 236, 236) solid !important;*/
}

.tab.active {
  /*background-color: #fff;*/
  border-bottom: 4px #2893f5 solid !important;
}
.toolbar {
  display: flex;
  border-bottom: 4px solid rgb(236, 236, 236);
}

.content {
  background-color: rgb(236, 236, 236);
}
.content-block {
  margin: 10px;
  padding: 10px;
  background-color: #fff;
  border-radius: 6px;
}

.content-block1 {
  margin: 10px;
  padding: 10px;
  background-color: var(--secondary-color);
  border-radius: 6px;
  display: flex;
  flex-wrap: wrap;
}

.content-block-modal {
  margin:  10px auto;
  width: 350px;
  padding: 10px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
}

.input-field {
  /*justify-content: center;*/
  /*align-items: center;*/
  display: flex;
  width: 380px;
  /*margin: auto;*/
}
.input-field-toolbar {
  /*justify-content: center;*/
  /*align-items: center;*/
  display: flex;
  width: 380px;
  margin: 10px 0;
}

.button {
  margin: 10px 0;
  padding: 10px 10px;
  border-radius: 6px;
  white-space: nowrap;
  background-color: #2893f5;
}

input[type="text"], input[type="password"], input[type="email"], select {
  width: 100%;
  outline: none;
  /*color: white;*/
  padding: 10px 10px;
  border-radius: 6px;
  transition: 0.25s;
}

input[type="text"]:focus {
box-shadow: 0 1px 10px 2px #00000030;
background: #d4d4d430;
color: var(--text-color);
/*width: 500px;*/
}

header {
  border-bottom: 1px solid #d6dde0;
}

.layout-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 32px;
  background-color: white;
  border-bottom: 1px solid #d6dde0;
}

.navbar-brand {
  flex: 1;
  text-align: left;
}

/*.layout-header > input[type="text"], select {
  border: 0;
  /*margin: 15px 5px 15px 0px;*/
  /*border: 1px solid #d6dde0;
  width: 100%;
  outline: none;
  background: white;
  color: black;
  /*color: white;*/
  /*padding: 8px 16px;
  border-radius: 6px;
  transition: 0.25s;
}*/

.search-input {
  flex: 2;
  margin: 0 20px;
  padding: 8px;
  border: 1px solid #d6dde0;
  border-radius: 6px;
  outline: none;
  max-width: 500px; /* Maximale breedte */
}

header h1 {
  display: block;
  margin: auto;
}

nav ul {
  list-style: none;
  text-align: center;
  margin: 20px;
  padding: 5px;
  border-radius: 20px;
}

nav li {
  display: inline-block;
  margin-left: 5rem;
  margin-right: 5rem;
}

.navbar-nav {
  flex-direction: row;
}

ul {
  list-style-type: none;
}
a {
  color: unset;
  text-decoration: none;
  /*color: var(--clr-white);*/
}

.App {
  display: flex;
  min-height: 100vh;
}

.to-do {
  color: red;
}

/* commons */
.lg-value {
  font-size: 24px;
  font-weight: 600;
}

.text-l {
  font-size: 14px;
}

.text-m {
  font-size: 12px;
}

.text-s {
  font-size: 10px;
}

.text-right {
  text-align: right;
}

.text-succes {
  color: var(--clr-green);
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  max-width: 90%;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  padding: 20px;
  z-index: 1000;
}

.modal-header {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.modal-body {
  font-size: 14px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.modal-table {
  width: 100%;
  border-collapse: collapse;
  margin: 15px 0;
}

.modal-table th,
.modal-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  white-space: nowrap;
}

.modal-table th {
  background-color: #f2f2f2;
}

.input-cell {
  width: 100%; /* Vul de cel volledig */
  box-sizing: border-box; /* Houd padding en border binnen de breedte */
  border: 1px solid #ccc;
  padding: 6px;
  font-size: 12px;
}

.modal-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.modal-button.disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.error-message {
  color: red;
  margin-top: 10px
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto auto auto;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 12px;
  text-align: center;
}
.updategriditem1 {
  grid-row: 1 /span 3;
}

.updategriditem6 {
  grid-column: 3 ;
  grid-row:2;
}

.grid-common {
  /*background-color: var(--content-cards);
  border-radius: 12px;*/
  box-shadow: rgba(0, 0, 0, 0.05) 0px 8px 24px;
  color: var(--clr-white);
  /*margin: 16px;*/
  /*padding: 24px;*/
}

.grid-header {
  background-color: var(--content-cards-header);
  border-radius: 5px 5px 0px 0px;
  padding: 20px;

}

.grid-content {
  background-color: var(--content-cards-content);
  border-radius: 0px 0px 5px 5px;
  padding: 20px;
}

.grid-table-content {
  background-color: var(--content-cards-content);
  border-radius: 0px 0px 5px 5px;
}



.grid-c-title {
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.grid-c-title-text {
  font-weight: 400;
  color: var(--clr-silver);
}
.grid-c-title-icon img {
  width: 24px;
}

.navbar-left{
  float: left;
}

.navbar-right{
  float: right;
}

.row {
  display: flex;
  flex-wrap:wrap;

}

.col-2 .col-3 .col-4 .col-6 .col-8 .col-9 .col-10 .col-12 {
  position: relative;
  width: 100%;
  padding-right: 16px;
  padding-left: 16px;

}

@media (min-width: 768px) {
  .col-2 {
    max-width: 16.6666%;
    flex: 0 0 16.6666%;
}
}

@media (min-width: 768px) {
  .col-3 {
    max-width: 25%;
    flex: 0 0 25%;
}
}

@media (min-width: 768px) {
  .col-4 {
    max-width: 33.3333%;
    flex: 0 0 33.3333%;
}
}

@media (min-width: 768px) {
  .col-6 {
    max-width: 50%;
    flex: 0 0 50%;
}
}

@media (min-width: 768px) {
  .col-8 {
    max-width: 66.6667%;
    flex: 0 0 66.6667%;
}
}

@media (min-width: 768px) {
  .col-9 {
    max-width: 75%;
    flex: 0 0 75%;
}
}

@media (min-width: 768px) {
  .col-10 {
    max-width: 83.3333%;
    flex: 0 0 83.3333%;
}
}

@media (min-width: 768px) {
  .col-12 {
    max-width: 100%;
    flex: 0 0 100%;
}
}

.table>tr>td {
  border-top: 2px solid var(--content-cards-header);
  vertical-align: middle;
}
/*table td, table th {
  border-top: 1px solid #ddd;
  padding: 4px;
  text-align: left;
}*/

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tbody tr:hover {background-color: #ddd;}


.clickable-row:hover {
  background-color: #ddd;
}

.rider-box {
  align-items: center;
  display: flex;
  margin: 8px;
  width: calc(100% - 16px);
  font-size: 12px;
}
@media screen and (max-width: 600px) {
  .rider-box {
    width: calc(33.33% - 16px); /* 3 elementen per rij */
  }
}
.rider-box-content {
  background-color: grey;
  border-radius: 6px;
  padding: 5px;
  flex-grow: 1; /* Laat de inhoud groeien om ruimte te vullen */
  text-align: left;
  position: relative;
  height: 100%;
}
.rider-box-content:hover {
  background-color: var(--bg-color);
  text-align: right;
}

.rider-box-content p {
  text-align: left;
}

.percentage {
  color: green; /* Adjust the color to your preference */
  font-size: 14px; /* Slightly larger to make it stand out */
  margin-left: 10px; /* Adds space between ticker and percentage */
  font-weight: bold;
}

a, label, p, span, table {
  /* color: #fff; */
  color: var(--text-color);
}

table {
  border-collapse: collapse;
  width: 100%;
  font-size: 12px;
  color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.stock-logo {
  width: 30px;
  margin: 20px 0px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pagination {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
}

.pagination button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #ddd;
  cursor: pointer;
}

.pagination button.active {
  background-color: #007bff;
  color: #fff;
}

.filter-button {
  padding: 10px 15px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.filter-button:hover {
  background-color: #e0e0e0;
}

.filter-button.active {
  background-color: #007bff; /* Verander naar je gewenste kleur */
  color: white;
  border-color: #007bff;
}

.user-profile {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  cursor: pointer;
}

.user-photo {
  width: 30px;
  height: 30px;
  background-color: #000;
  border-radius: 50%;
  margin-right: 8px;
}

.dropdown-arrow {
  margin-left: 5px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  border: 1px solid #d6dde0;
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  width: 150px;
  z-index: 10;
  display: none; /* Verberg standaard */
}

.user-profile:hover .dropdown-menu,
.user-profile:focus-within .dropdown-menu {
  display: block; /* Toon dropdown bij hover of focus */
}

.dropdown-menu a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  color: #333;
}

.dropdown-menu a:hover {
  background-color: #f0f0f0;
}